@{
    Layout = "_ForgetPasswordLayout";
}
<i class="fa-solid fa-check text-success fw-bold fa-10x"></i>
<h4 class="card-title">reset Link Has Been Sent Successfully</h4>
<h5>Please Check Your Email</h5>