@model LoginViewModel
@{
    Layout = "AccountLayout";
    ViewData["Title"] = "Login";
}
<div class="text-center mb-4 fw-bold">
    <h1>Login</h1>
</div>
<form asp-controller="account" asp-action="login" method="post">
    <div asp-validation-summary="All" id="login-failed" class="alert alert-danger text-danger div-ul-mb-0"></div>
    <!-- Email input -->
    <div class="form-outline mb-4">
        <input asp-for="@Model.Email" class="form-control form-control-lg"
               placeholder="Enter a valid email address" />
    </div>
    <!-- Password input -->
    <div class="form-outline mb-3">
        <input asp-for="@Model.Password" class="form-control form-control-lg"
               placeholder="Enter password" type="password" />
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <!-- Checkbox -->
        <div class="form-check mb-0">
            <input class="form-check-input me-2" asp-for="@Model.RememberMe" />
            <label asp-for="RememberMe" class="form-check-label"></label>
        </div>
        <a asp-controller="Account" asp-action="ForgetPassword" class="text-body">Forgot password?</a>
    </div>
    <div class="text-center text-lg-start mt-4 pt-2">
        <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">
            Login
        </button>
        <p class="small fw-bold mt-2 pt-1 mb-0">
            Don't have an account? <a asp-controller="account" asp-action="register"
                                      class="link-danger">Register</a>
        </p>
    </div>
</form>
@section Scripts{
    <script>
        var loginFailed = document.getElementById("login-failed");
        if (loginFailed.childNodes[0].childNodes[0].textContent == "") {
            loginFailed.style.display = "none";
        }
    </script>
}