@{
    Layout = "_ForgetPasswordLayout";
}

<i class="fa-solid fa-xmark text-danger fw-bold fa-10x"></i>
<div class="d-flex justify-content-center align-items-center">
    <h4 class="card-title mb-0">Password Reset Failed</h4>
    <div class="d-flex justify-content-center align-items-center cursor-pointer border border-secondary rounded-circle ms-2" style="width:16px;height:16px" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa-solid fa-info fa-xs text-secondary text-bold"></i>
    </div>
</div>
<h5>Please try Again</h5>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Reset Failed Reasons</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                1- Password isn't match
                <br>
                2- Server Error
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>