@model ResetPasswordViewModel
@{
    Layout = "_ForgetPasswordLayout";
    string email = "";
    string token = "";
    try
    {
        var querystringArr = Url.ActionContext.HttpContext.Request.QueryString.Value.Split('&');
        email = querystringArr[0].Substring(7);
        token = querystringArr[1].Substring(6);
    }
    catch(Exception ex)
    {
        
    }
}
<form asp-controller="Account" asp-action="resetPassword" method="post">
    <div class="text-danger" asp-validation-summary="All"></div>
    <input asp-for="Email" value="@email" hidden/>
    <input asp-for="Token" value="@token" hidden/>
    <div class="form-floating mb-3">
        <input asp-for="Password" type="password" class="form-control" id="floatingInput" placeholder="Password">
        <label asp-for="Password" for="floatingInput"></label>
    </div>
    <div class="form-floating">
        <input asp-for="ConfirmPassword" type="password" class="form-control" id="floatingPassword" placeholder="Confirm Password">
        <label asp-for="ConfirmPassword" for="floatingPassword">Confirm Password</label>
    </div>
    <button class="btn btn-outline-primary mt-4" type="submit">Submit</button>
</form>