* {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

body {
    font-family: 'Cairo', sans-serif;
    height:100vh;
    position: relative;
}

.brand-name {
    font-size: 32px;
}

.navbar-links li {
    margin: 0px 2px;
}

.navbar-links li a {
    color: #fff;
    font-size: 16px;
    padding: 6px 10px !important;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 16px;
    transition: all .3s;
}

.navbar-link-active a, .navbar-links a:hover {
    background-color: #fff;
    color: #0D6EFD !important;
}

.upload-heading {
    font-weight: 700 !important;
    letter-spacing: 1px;
    position: relative;
}

.upload-heading::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0px;
    background-color: #EBEBEC;
    width: 50%;
    height: 2px;
}

.search-heading{
    font-weight:700;
    font-size:32px !important;
    letter-spacing:1px;
}
.preview-line::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0px;
    background-color: #EBEBEC;
    width: 100%;
    height: 1px;
}
.footer-overlay {
    background-color: rgba(0,0,0,0.1)
}

.footer-heading {
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
}

.footer-items::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    background-color: rgba(235, 235, 236, .5);
    width: 100%;
    height: .1px;
}

.footer-items , .last-footer-items {
    color: rgba(255,255,255,0.8);
}

.footer-items:hover, .last-footer-items:hover {
    color: rgba(255,255,255,0.5);
}

.div-ul-mb-0 ul{
    margin-bottom:0;
}
.accordion-button {
    padding-left: 6px !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.h-custom {
    height: calc(100% - 73px);
}
.cursor-pointer{
    cursor:pointer;
}
@media (max-width: 996px) {
    .h-custom {
        height: auto;
    }
}
.about-desc {
    font-size: 24px;
    font-weight: 600;
}