@{
    Layout = "_Layout";
    ViewData["Title"] = "About";
}
<h2 class="fw-bold my-3 text-primary">
    Our Story
</h2>
<p class="about-desc w-75 text-secondary">
    If you're looking for a way to share files with friends or family, file sharing may be the perfect solution.
    With services like Dropbox and Google Drive, you can easily store and share files with others.
    Plus, these platforms are easy to use and convenient for both desktop and mobile devices.
</p>