@{
    ViewData["Title"] = "Error";
    Layout = "_ErrorLayout";
}

<div class="pb-5">
    <p class="text-primary" style="font-size:230px;font-weight:700;">Oops!</p>
    <div class="text-center">
        <p class="mb-0" style="font-weight:600; font-size:32px;">An Error Occurred</p>
    </div>
    <div class="text-center mt-3">
        <a class="btn btn-primary text-uppercase fw-semibold" asp-controller="home" asp-action="index">Go to Home Page</a>
    </div>
</div>